.bg_navy {
  background-color: #274472;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.h-100vh {
  height: 100vh;
}
.btn_primary {
  background-color: white;
  border: 2px solid #274472;
  color: #274472;
  font-weight: 600;
}
.btn_primary:hover {
  background-color: #274472;
  color: white;
}
.h-45 {
  height: 45px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.border_bottom{
    border-bottom: 3px solid #7391C8;
}
